/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

public/imagenesProductos/Buscar 0.png
public/imagenesProductos/Advertencia 1.png
public/imagenesProductos/Bascula 0.png
public/imagenesProductos/ProductoSialas_Backup 0.png
public/imagenesProductos/ProductoSialas_Bascula 0.png
public/imagenesProductos/Backup 0.png
public/imagenesProductos/ProductoSialas_Advertencia 1.png
public/imagenesProductos/Calendario 1.png
public/imagenesProductos/ProductoSialas_Calendario 1.png