/*
Hoja de estilo CSS para el proyecto WB 2016
Versión Alfa.
*/

//Declaración de variables
//Colores
$cazul1 : #0099ff;
$cazul2 : #0066cc;
$cblanco : #fff;
$cgris0 : #f9f9f9;
$cgris1 : #ececec;
$cgris6 : #ccc;
$cgris2 : #acacac;
$cgris3 : #8c8c8c;
$cgris4 : #3c3c3c;
$cgris5 : #4c4c4c;
$cnaranja1 : #e2b11e;
$cnaranja2 : #fcd4a5;
$cnegro : #000000;
$cverde1 : #2bb673;
$cverde2 : #00a14b;
$crojo : #a31414;
//Medidas

//Tipografía
@font-face {
  font-family: "Belin Sans FB";
  src: url("../fonts/BRLNSR.tftt");
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.otf");
}
$ftitulos : "Berlin Sans FB";
$fcuerpo : "Arial";

*{
  margin: 0px;
  padding: 0px;
  font-family: $fcuerpo;
}
body{
  background-color: $cgris2;
}
h2 {
  font-family: $ftitulos;
  font-weight: 500;
  font-size: 3em;
  display: inline-block;
}
a{
  text-decoration: none;
  color: inherit;
}

//Menu de pantalla principal
//Objetos

header{
  background-color: $cazul1;
  min-height: 36px;
  position: fixed;
  width: 100%;
  padding-top: 4px;
  z-index: 5;
}
footer{
  background-color: $cgris3;
  color: $cblanco;
  width: 99%;
  height: 20px;
  font-size: 10pt;
  padding-left: 1%;
  margin-top: 6px;
}
nav div li{
  display: table-cell;
  width: 120px;
  text-align: center;
  color: $cblanco;
  padding-top: 6px;
  padding-bottom: 7px;
  transition: background 0.5s, width 0.5s;
}

//Funciones

.mhome{
  background-color: $cazul2;
  width: 66px;
  border-radius: 0px 20px 20px 0px;
}
//Imagen de inicio
.logoInicio{
  width: 35px;
  vertical-align: middle;
}
.moption{
  border-radius: 20px;
  transition-timing-function: ease;
}
.moption:hover{
  width: 126px;
  background-color: $cnaranja1;
}
.mhome:hover{
  width: 72px;
}

//Contenedor principal
.contenido{
  min-height: 88vh;
  width: 100%;
  background-color: $cgris1;
  display: inline-flex;
}
.separador{
  height: 50px;
}

//Paneles de diseño
.launcher{
  display: block;
  width: 75px;
  background: $cgris1;
  border-radius: 35px;
  margin: 10px 5px 10px 5px;
  text-align: center;
  box-shadow: 0px 0px 8px $cgris3;
}
.lfloat{
  width: 75px;
  height: 2vh;
}
.tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
      visibility: hidden;
      width: 70px;
      background-color: $cgris4;
      color: #fff;
      text-align: center;
      border-radius: 20px;
      padding: 5px 5px;
      -webkit-user-select: none;
      cursor: default;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 20%;
      left: 165%;
      margin-left: -35px;
    }

    .tooltiptextup {
      visibility: hidden;
      width: 70px;
      background-color: $cgris4;
      color: #fff;
      text-align: center;
      border-radius: 20px;
      padding: 5px 5px;
      -webkit-user-select: none;
      cursor: default;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -35px;
    }
}

.tooltip:hover {
  .tooltiptext {
    visibility: visible;
  }
  .tooltiptextup {
    visibility: visible;
  }
}
pre {
  -webkit-user-select: none;
  span{
    font-weight: bold;
  }
}
.datos{
  padding: 10px;
  display: inline-block;
}
.circ{
  width: 50px;
  transition-timing-function: linear;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
}
.circ:hover{
  width: 55px;
  position: static;
  margin-top: 0px;
}
.panel{
  width: 90%;
  padding: 30px;
}
.enc{
  width: inherit;
  height: 15%;
  display: -webkit-inline-box;
  color: $cazul2;
  margin: 10px;
}
//Tablas
tr{
  //background: $cgris2;
  :first-child{
    border-radius: 20px 0px 0px 20px;
    text-align: center;
  }
  :last-child{
    border-radius: 0px 20px 20px 0px;
    text-align: center;
  }
  td{
    padding: 5px;
    max-width: 600px;
    //border: $cgris3 solid 1px;
  }
  td:last-child{
    padding: 0px;
    width: 100px;
  }
  th{
    //background: $cverde2;
    //border: $cverde2 - 10 solid 1px;
    color: $cblanco;
    font-weight: bold;
    padding: 5px;
    max-width: 40%;
  }
}
$class-slug: td !default;
@for $i from 1 through 11
{
  tr:nth-child(#{$i}){
    background: $cverde1 + $i * 15;
  }
  td:nth-child(#{$i}){
    border-color: $cverde1 + $i * 10;
    border-width: 1px;
    border-style: solid;
  }
  th:nth-child(#{$i}){
    background: $cazul2 + $i * 10;
  }
  tr:nth-child(#{$i}):hover{
    background: $cazul1 + $i * 10;
  }
}
table{
  min-width: 50%;
}
input, textarea{
  display: block;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 15px 5px 15px;
  border-width: 1px;
  border-style: solid;
  width: 368px;
  background-color: $cgris2;
  border-color: $cgris3;
  font-size: 16px;
  margin: 3px;
}
select{
  display: block;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 15px 5px 15px;
  border-width: 1px;
  border-style: solid;
  width: 400px;
  background-color: $cgris2;
  border-color: $cgris3;
  font-size: 16px;
  margin: 3px;
}
input[type=number]{
  width: 150px;
}
input[type=file]{
  padding: 5px 5px 5px 5px;
  width: 388px;
}
input[type=file]::-webkit-file-upload-button{
  border-radius: 20px 20px 20px 20px;
  background: $cgris4;
  color: $cblanco;
  border: $cnegro solid 1px;
  padding: 3px 7px 3px 7px;
}
input[type=file]::-ms-browse{
  border-radius: 20px 20px 20px 20px;
  background: $cgris4;
  color: $cblanco;
  border: $cnegro solid 1px;
  padding: 3px 7px 3px 7px;
}
input[type=file]::-ms-value{
  border-width: 0px;
  background: inherit;
}
input[type=file]::-webkit-file-upload-button:focus{
  outline: none !important;
}
input[type=file]::-webkit-file-upload-button:hover{
  background: $cgris5;
}
input[type=submit],input[type=button]{
  background-color: $cgris4;
  color: $cblanco;
  width: 120px;
  border: $cnegro solid 1px;
  margin: 15px;
}
.fila{
  display: inline-flex;

  :first-child{
    margin-right: 30px;
  }
}
input:focus, select:focus{
  outline: none !important;
  border: $cazul2 solid 1px;
  background: $cgris6;
}
input[type=submit]:hover{
  background: $cgris5;
}
*::-webkit-input-placeholder{
  color: $cgris4;
}
#txt{
  margin-top: 20px;
  margin-left: 5px;
  color: $cazul1;
}
.plus{
  width: 25px;
  transition-timing-function: linear;
  margin: 5px 0px 5px 0px;
}
.plus:hover{
  width: 30px;
  position: static;
  margin-top: 0px;
}
.up {
    position: relative;
    display: -webkit-inline-box;

    .image {
      display: flex;
      visibility: hidden;
      max-width: 220px;
      background-color: $cgris1;
      text-align: center;
      border-radius: 50px;
      padding: 5px 5px;
      -webkit-user-select: none;
      cursor: default;
      box-shadow: 0px 0px 10px $cgris3;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: -50%;
      left: 50%;
      margin-left: -75px;
    }
}
.search{
  display: -webkit-inline-box;
  input[type='text']{
    height: 16px;
    width: 200px;
    margin-top: 15px;
  }
}
.sep{
  width: 45%;
}
.up:hover .image {
    visibility: visible;
}
@media only screen and (max-width : 900px) {
  .search{
    display: none;
  }
  .sep{
    width: 30%;
  }
}
@media only screen and (min-width : 900px) and (max-width : 1200px) {
  .search{
    input[type='submit']{
      display: none;
    }
  }
  .sep{
    width: 30%;
  }
}
#act{
  display: inline-block;
  margin-top: 20px;
}
.pagination{
  display: inline-flex;
  li{
    list-style: none;
    width: 25px;
    padding: 3px;
    background-color: $cgris2;
    border: $cgris3 solid 1px;
  }
  :first-child{
    border-radius: 20px 0px 0px 20px;
  }
  :last-child{
    border-radius: 0px 20px 20px 0px;
  }
  .active{
    background: $cazul1;
    border: $cazul2 solid 1px;
  }
  .disabled{
    background: $cgris1;
    border: $cgris2 solid 1px;
  }
}
.alerta-errores{
  color: $crojo;
}
